.registration-form {
    display: flex;
    justify-content: center;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #95CEE8;
    max-width: 600px;
    width: 100%;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-field {
    width: 75%;
}

.icon {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.registration__button {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-outline-primary {
    color: #007BFF;
    background-color: transparent;
    border: 1px solid #007BFF;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #007BFF;
    border: 1px solid #007BFF;
}

.position-relative {
    position: relative;
}

.registration__note {
    margin-top: 1rem;
}

.registration__note > a {
    color: cornflowerblue;
}

.registration__note > a:hover {
    color: #009BFF;
    text-decoration: underline;
}

.error-msg {
    color:  rgba(241, 145, 145, 255);
    margin-bottom: 1rem;
}